/* 设置顶部悬浮搜索区样式 */

.top-search {
    height: 66px;
    position: fixed;
    top: 0;
    background: #fff;
    z-index: 1000;
}

.top-search .logo-container {
    width: 1139px;
    margin: 0 auto;
}

.top-search .logo-container img {
    width: 104px;
    height: 37px;
    float: left;
    margin-right: 15px;
    cursor: pointer;
}

.top-search .logo-container .search-in {
    width: 383px;
    font-size: 16px;
    height: 22px;
    line-height: 28px;
    padding: 6px 8px 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #b8b8b8 #ccc #ccc #b8b8b8;
    margin-top: 15px;
}

.top-search .logo-container .input {
    padding: 6px 8px 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #b8b8b8 #ccc #ccc #b8b8b8;
    border-right: 0;
    width: 383px;
    height: 22px;
    line-height: 22px;
    font-size: 16px;
    outline: 0;
    font-family: arial;
}

.logo-container button#search {
    background: #38f;
    border: 1px solid #38f;
    border-bottom: 1px solid #2d78f4;
    color: #fff;
    position: relative;
    top: -0.5px;
}

button:hover {
    background: rgb(49, 126, 243);
    border-color: #317ef3;
    border-bottom-color: #2868c8;
    box-shadow: 1px 1px 1px #ccc;
}

.logo-container button {
    letter-spacing: 1px;
    outline: medium;
    font-family: arial;
    margin: 0 4px 0 0;
    display: inline-block;
    width: 100px;
    font-size: 14px;
    height: 34px;
    margin-left: -6px;
    cursor: pointer;
}

.top-search .logo-container .logo {
    margin-top: 8px;
}

.top-search .logo-container .tools {
    margin-top: 22px;
    margin-left: 154px;
    font-size: 12px;
    color: #999;
}

.top-search .logo-container .tools a {
    padding: 0 12px;
}

.top-search .logo-container .tools a:hover {
    color: #3695f5;
}

.top-search .login {
    position: absolute;
    right: 20px;
    line-height: 56px;
    font-size: 12px;
    padding-left: 25px;
    top: 5px;
    color: #555;
    text-decoration: underline;
}